!!!
%html
  %head
    %title Tumbir_App
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .container
      .navbar-brand.navbar-left
        =link_to "Post ", posts_path, id: "logo"
      .nav.navbar-nav.navbar-right
        %ul
          %li
            #user_nav
              = link_to "New Post",  new_post_path
              |
              - if user_signed_in?
                Logged in as
                = succeed "." do
                  %strong= current_user.email
                = link_to 'Edit profile', edit_user_registration_path
                |
                \#{link_to "Logout", destroy_user_session_path, method: :delete}
              - else
                = link_to "Sign up", new_user_registration_path
                |
                \#{link_to "Login", new_user_session_path}



  .yield
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "alert alert-info"
    = yield


